<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmF3uFvKkDvFS4zKxWIPcouKnoWb7Peag</string>
	<key>GCM_SENDER_ID</key>
	<string>852113831728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tezda</string>
	<key>PROJECT_ID</key>
	<string>tezda-315ac</string>
	<key>STORAGE_BUCKET</key>
	<string>tezda-315ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852113831728:ios:bae2d1a3d05acf68d47af5</string>
</dict>
</plist>